body {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width:100vw;
    height: 100vh;
}

.left-column {
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 6;
    
    nav {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        
        .nav-link {
            display: none;
        }
        
        .nav-icon-container {
            max-width: 40px;
                &:hover {
                    border-radius: 25px;
                    background-color: #e8f5fe;
                }
        }

        .nav-label-container {
            visibility: hidden;
            height: 0;
            width: 28px;

        }


        .small-visible {
            display: inline-block;
        }
        
    }
}

.content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
    width: 0px;
}

.right-column {
    display: none;
}

.feed-header {
    padding: 16px;
    font-weight: 800;
    font-size: 19px;
    border-bottom: 1px solid rgb(230, 236, 240);
}

.tweet-area {
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding: 16px;
    column-gap: 16px;
}

.tweet-profile-pic {
    border-radius: 50%;
    max-width: 28px;
}

.tweet-text-area {
    width: 100%;
    min-height: 50px;
    border: none;
    resize: none;
    font-family: Roboto;
    font-size: 19px;
    display: block;
    overflow: auto;

    &::placeholder {
        font-family: Roboto;
        font-size: 19px;
    }
}

.tweet-button-container {
    text-align: right;
    .tweet-button{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(29, 161, 242);
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 32px;
    }
}

.separator {
    height: 8px;
    background-color: rgb(230, 236, 240);;
}

.tweet {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 12fr;
    column-gap: 16px;
    border-bottom: 1px solid rgb(230, 236, 240);

    .user-name {
        color: #14171a;
        font-weight: bold;
    }
    .user-handle {
        color: #657786;

        &:hover {
            text-decoration: none;
        }
    }

    .tweet-time {
        color: #657786;
    }

    img {
        border-radius: 50%;
        max-width: 48px;
    }
    
    .tweet-content {
        font-size: 15px;
    }

    .tweet-actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        .tweet-action {
            width: 25px;

            img {
                width: 20px;
                padding: 10px;
                filter: invert(.5);

                &:hover {
                    filter: none;
                    background-color: #e8f5fe;
                }
            }
        }
    }
}


@media screen and (min-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 11fr;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .left-column {
        background-color: #fff;
        padding: 8px 0;
        // width: initial;
        // bottom: initial;
        // display: initial;
        position: sticky;
        top: 0;
        
        nav {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            grid-auto-flow: row dense;
            grid-row-gap: 32px;
            padding: 8px;

    
            .nav-link {
                display: block;
                padding: 8px;
            }
    
            .nav-icon-container {
                max-width: 28px;
                &:hover {
                    border-radius: 50%;
                    background-color: #e8f5fe;
                }
                
            }
    
            .nav-label-container {
                visibility: hidden;
                height: 0;
                width: 28px;
                text-align: center;
            }
    
    
            // .small-visible {
            //     display: inline-block;
            // }
            
        }
    }

    .content {
        border-left: 1px solid rgb(230, 236, 240);
        border-right: 1px solid rgb(230, 236, 240);
        overflow-y: auto;
    }

    .right-column {
        display: none;
    }
}


@media screen and (min-width: 1300px){
    .container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        column-gap: 16px;
        width: 1250px;
        height: 100vh;
        overflow: hidden;
    }

    .nav {
        display: grid;
        justify-items: left;
    }

    .nav-link {
        justify-self: start;
        display: block;
        text-decoration: none;
        //color: #fff;

        &:hover {
            text-decoration: underline;
        }
    
        .nav-item-container {

            display: grid;
            grid-template-columns: 4fr 5fr;
            grid-column-gap: 8px;

            .nav-icon-container {
                &:hover {
                    border-radius: 50%;
                    background-color: #e8f5fe;
                }
            }

            .nav-label-container, .nav-label-container span {
                visibility: visible;
                display: inline;
            }

            .nav-label-container span {
                color: #14171a;
            }
        }
    }


    .right-column {
        display: initial;
        margin-top: 16px;
        position: sticky;

        .search {
            display: grid;
            grid-template-columns: 1fr 11fr;
            column-gap: 16px;
            background-color: rgb(230, 236, 240);
            border-radius: 32px;
            padding:8px 16px;
            align-items: center;
        
            img {
                filter: invert(.5);
            }
        
            .search-input {
                width: 90%;
                background: none;
                border: none;
                height: 20px;
                margin-bottom: 4px;
        
                &::placeholder {
                    font-family: Roboto;
                    font-size: 15px;
                }
            }
        }
        
        .who-to-follow-container {
            margin-top:32px;
            background-color: #f5f8fa;
            border-radius: 8px;
            
            .who-to-follow {
                padding: 16px;
                font-weight: bold;
                border-bottom: 1px solid #e6ecf0;   
            }
        
            .random-user {
                padding: 16px;
                display: grid;
                grid-template-columns: 1fr 3fr 2fr;
                align-items: center;
        
                &:not(:last-child) {
                    border-bottom: 1px solid #e6ecf0;
                }
        
                .user-info {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
        
                    .user-name {
                        margin-left: 8px;
                        font-size: 15px;
                        color: #14171a;
                        font-weight: bold;
                    }
                    .user-handle {
                        margin-left: 8px;
                        font-size: 15px;
                        color: #657786;
                
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                
                
                img {
                    border-radius: 50%;
                }
        
                .follow-button {
                    font-size: 14px;
                    font-weight: bold;
                    background: none;
                    border: 1px solid #1da1f2;
                    height: 35px;
                    border-radius: 25px;
                    color: #1da1f2;
                }
            }
        }
    }

    .content {
        overflow-y: auto;
    }

    
}