body {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.container {
    width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
    overflow: hidden
}

.left-column, .right-column {
    // background-color: lightsteelblue; FOR DEBUGGING ONLY, DON'T JUDGE ME.
    padding:10px;
    position: sticky;
}

.content {
    padding: 10px;
    // background-color: limegreen; FOR DEBUGGING TOO.
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
    width: 0px;
}

.nav-item-container {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-gap: 10px;
}

.nav-icon-container {
    margin-top: 2.5px;
}

.nav-link {
    display: grid;
    padding: 10px 20px;
    border-radius: 9999px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: bold;
    color: rgb(20, 23, 26);
    font-size: 19px;
    margin-bottom: 25px;

    &:hover {
        background-color: #e8f5fe;
        text-decoration: underline;
        color: rgb(29, 161, 242);
    }
}

.content {
    border: 1px solid rgb(230, 236, 240);
    padding: 0;
}

.feed-header {
    padding: 16px;
    font-weight: 800;
    font-size: 19px;
    border-bottom: 1px solid rgb(230, 236, 240);
}

.tweet-area {
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding: 16px;
    column-gap: 16px;
}

.tweet-profile-pic {
    border-radius: 50%;
}

.tweet-text-area {
    width: 100%;
    min-height: 50px;
    border: none;
    resize: none;
    font-family: Roboto;
    font-size: 19px;
    display: block;
    overflow: auto;

    &::placeholder {
        font-family: Roboto;
        font-size: 19px;
    }
}

.tweet-button-container {
    text-align: right;
    .tweet-button{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(29, 161, 242);
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 32px;
    }
}

.separator {
    height: 8px;
    background-color: rgb(230, 236, 240);;
}

.tweet {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 12fr;
    column-gap: 16px;
    border-bottom: 1px solid rgb(230, 236, 240);

    .user-name {
        color: #14171a;
        font-weight: bold;
    }
    .user-handle {
        color: #657786;

        &:hover {
            text-decoration: none;
        }
    }

    .tweet-time {
        color: #657786;
    }

    img {
        border-radius: 50%;
    }
    
    .tweet-content {
        font-size: 15px;
    }

    .tweet-actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .tweet-action {
            width: 25px;

            img {
                width: 20px;
                padding: 10px;
                filter: invert(.5);

                &:hover {
                    filter: none;
                    background-color: #e8f5fe;
                }
            }
        }
    }
}

